{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "server": "./server",
          "flux": "./src/flux",
          "utils": "./src/utils",
          "services": "./src/services",
          "constants": "./src/constants",
          "config": "./config"
        }
      }
    ]
  ]
}
