{
	"env": {
		"browser": true,
		"es6": true,
		"commonjs": true
	},

	"extends": ["prettier", "prettier/react"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true,
			"arrowFunctions": true
		},
		"sourceType": "module"
	},
	"settings": {
		"import/resolver": {
			"babel-module": {}
		}
	},
	"plugins": ["prettier"],
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx"]
			}
		],
		"react/prop-types": 0,
		"no-underscore-dangle": 0,
		"import/imports-first": ["error", "absolute-first"],
		"import/newline-after-import": "error"
	}
}
