$edited: true;
$brand-01: #3d70b1;
$brand-02: #7cc7ff;
$brand-03: #41d6c3;
$inverse-01: #152935;
$inverse-02: #272d33;
$ui-01: #2d3f49;
$ui-02: #141e30;
$ui-03: #152935;
$ui-04: #20343e;
$ui-05: #8c9ba5;
$text-01: #fff;
$text-02: #000;
$text-03: rgba(255, 255, 255, 0.31);
$field-01: #64646e;
$field-02: #ffffff;
$support-01: #c60014;
$support-02: #8cd211;
$support-03: #efc100;
$support-04: #7cc7ff;
$use-layer: true;
$input-border: 1px solid transparent;
$input-label-weight: 700;
$button-font-weight: 700;
$button-font-size: 0.875rem;
$button-border-radius: 0;
$button-height: 40px;
$button-padding: 0 1rem;
$button-padding-sm: 0 0.5rem;
$button-border-width: 2px;
$accordion-flex-direction: row;
$accordion-justify-content: flex-start;
$accordion-arrow-margin: 0 0 0 0.25rem;
$accordion-title-margin: 0 0 0 1rem;
$accordion-content-padding: 0 1rem 0 1.75rem;
$card-text-align: center;
$card-flex-align: center;
$checkbox-border-width: 2px;
$snippet-background-color: $field-01;
$content-switcher-border-radius: 8px;
$content-switcher-option-border: 1px solid $brand-01;
$data-table-heading-transform: uppercase;
$data-table-heading-border-bottom: 1px solid $brand-01;
$data-table-row-height: 2rem;
$modal-border-top: $brand-01 4px solid;
$modal-footer-background-color: $ui-03;
$progress-indicator-bar-width: 1px inset transparent;
$progress-indicator-stroke-width: 5;
$progress-indicator-line-offset: 0.625rem;
$radio-border-width: 2px;
$structured-list-padding: 2rem;
$structured-list-text-transform: uppercase;
