@import "./carbon-theme.scss";

@import "../node_modules/carbon-components/scss/globals/scss/styles.scss";

body {
  overflow-x: hidden;
}

.bx--grid {
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 75vw;
}

.plans {
  margin-top: 20px;
}

.align-center {
  display: flex;
  justify-content: center;
}

.bx--form-item {
  width: 80%;
  margin: 15px 0;
  flex: initial;
}

.bx--label {
  color: #282a2c;
  cursor: pointer;

  & ~ .bx--text-input {
    color: #fff;
  }
}

.bx--text-input {
  width: 100%;
  border-radius: 5px;
  &:focus {
    background-color: #2c2c30;
  }
}
